<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/inzynierka</property>
    <property name="hibernate.connection.username">root</property>

    <property name="hibernate.connection.password"/>
    <property name="hibernate.show_sql">true</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

      <mapping class="hibernate.Analiza"/>
      <mapping resource="Analizahbm.xml"/>
      <mapping resource="DaneFinansowehbm.xml"/>
      <mapping class="hibernate.DaneFinansowe"/>
      <mapping class="hibernate.Firma"/>
      <mapping resource="Firmahbm.xml"/>
      <mapping resource="QuickTesthbm.xml"/>
      <mapping class="hibernate.QuickTest"/>
      <mapping resource="Uzytkownikhbm.xml"/>
      <mapping class="hibernate.Uzytkownik"/>
      <mapping class="hibernate.Wskazniki"/>
      <mapping resource="Wskaznikihbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>